@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Raleway');

.gif_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
}

.tagline {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.20em;
    animation:
        typing 7.5s steps(40, end),
        blink-caret .55s step-end infinite;
}

@keyframes typing {
    from { width: 0}
    to { width: 100% }

}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% {border-color: yellow; }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    /* color: #38ffd1; */
    color: #0fe9b6;
}
.button{
    border: none;
    border-radius: 7px;
    background-color: rgb(115, 184, 3);
    height: 50px;
    width: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(213, 240, 236);
}

.button:hover {
    background-color: #fce981;
}

.body{
    /* background-color: #161922; */
    background-image: url(3_patterned_wallpaper.jpg);
    /* background-position: center; */
    /* background-repeat: repeat; */
    background-size: auto;
}

.for_gif_pos {
    transition: all 5s;
}

.blurp_des {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 800;
}

.blurp_des .letter {
    display: inline-block;
    line-height: 1em;

}



.h5 a {
    text-decoration: none;
    color: white;
}
